                           /*---------CLASS SKILLS-----------------*/


#skills {
    display: flex;
    flex-direction: column;
    border: 1px solid aqua;
    border-radius: 15px;
    padding-block: 2rem;
    padding-inline: 5rem;
    margin-inline: 2rem;
   
}
.skills-title {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.3rem;
    text-align: center;
    padding-block: 0.7rem;
}
.skills-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.7rem;
    list-style: none; 
}
.skills-item {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
    font-size: 1.5rem;

}

  
@media (min-width:800px) {
 

    .skills-items {
        display: flex;
        flex-direction: row;
        
    }
    .skills {
        padding-block: 1rem;
    }
   

}
