
                              /*---------IMAGEM DE FUNDO / Header-----------------*/
                              
.introduction {
 background-image: url(./img/fundo4.svg);
 display: flex;
 flex-direction: column;
 gap: 2rem;
}
                 /*---------CLASS DATA  + CLASS MENU-SOCIAL-NETWORKS -----------------*/   

.introducion-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-inline: 2rem;
}  

                         /*---------CLASS DATA 1-----------------*/

                                  
.data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid aqua;
    border-radius: 15px;
    padding-block: 2rem;
    padding-inline: 2rem;
    
}
.data-name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    justify-content: center;
    text-align: center;
}
.data-function {
    text-align: center;
}

