                   
.formation {
    border: 1px solid aqua;
    border-radius: 15px;
    padding-block: 2rem;
    padding-inline: 2rem;
    margin-inline: 2rem;
}

.formation h2 {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
    text-align: center;
}

.formation p {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
    text-align: center;
}

.formation table {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
}

.formation td {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
    font-size: 1.5rem;
    text-align:left;
    padding-left: 1rem;
}
